<!DOCTYPE html>
<html>
<head>
  <title>Détail Catway</title>
</head>
<body>

<h1>Détail du catway</h1>

<p>Numéro : <%= catway.catwayNumber %></p>

<p>Type : <%= catway.type %></p>

<p>État : <%= catway.catwayState %></p>

</body>
</html>